@model FestivalSite.Models.LocalPasswordModel

<h4>Wachtwoord veranderen</h4>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset class="BodyText">
        <legend>Change Password Form</legend>
        <ol>
            <li>
                <label>Oud Wachtwoord</label>
                @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control input-sm", placeholder = "Oud Wachtwoord" })
            </li>
            <li>
                <label>Nieuw Wachtwoord</label>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-sm", placeholder = "Nieuw Wachtwoord" })
            </li>
            <li>
                <label>Bevestig Wachtwoord</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-sm", placeholder = "Bevestig Wachtwoord" })
            </li>
        </ol>
        <input type="submit" value="Bewaar" class="btn btn-primary btn-wide" />
    </fieldset>
}
