@model FestivalSite.Models.LocalPasswordModel

<h3>Wachtwoord veranderen</h3>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                <label>Oud Wachtwoord</label>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control flat input-sm" })
            </li>
            <li>
                <label>Nieuw Wachtwoord</label>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control flat input-sm" })
            </li>
            <li>
                <label>Bevestig Wachtwoord</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control flat input-sm" })
            </li>
        </ol>
        <input type="submit" value="Bewaar" class="btn btn-primary btn-wide" />
    </fieldset>
}
