@model FestivalSite.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Registreer";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Koppel je @ViewBag.ProviderDisplayName account.</h2>
</hgroup>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="BodyText">
        <legend>Association Form</legend>
        <p>
            U hebt succesvol geauthenticeerd met <strong>@ViewBag.ProviderDisplayName</strong>.
            Gelieve hieronder een gebruikersnaam in te voeren voor de site en klik op bevestigen om het inloggen af te ronden.
        </p>
        <ol>
            <li class="name">
                <label>Gebruikersnaam</label>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
        </ol>
        @Html.HiddenFor(m => m.ExternalLoginData)
        <input type="submit" value="Registreer" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
