@model FestivalSite.Models.RegisterModel
@{
    ViewBag.Title = "Registreren";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                <label>Gebruikersnaam</label>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control flat input-sm" })
            </li>
            <li>
                <label>Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control flat input-sm" })
            </li>
            <li>
                <label>Wachtwoord</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control flat input-sm" })
            </li>
            <li>
                <label>Bevestig Wachtwoord</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control flat input-sm" })
            </li>
        </ol>
        <input type="submit" value="Registreer" class="btn btn-primary btn-wide" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
