@model FestivalSite.ViewModel.BandVM
@{
    ViewBag.Title = "Bands";
}

@*ZoekButton*@
@using (Html.BeginForm())
{
    <p class="float-right">
        @Html.TextBox("SearchString", value: null, htmlAttributes: new { id="Search", @class = "form-control input-sm", placeholder = "Zoeken..." })
        <input id="zoeken" type="submit" value="Zoeken" class="btn btn-primary btn-wide smalleButton" />
    </p>
}

@*SorteerButtons*@
<div class="float-right" id="SortButtons">
    @Html.ActionLink("Op naam", "Bands", new { sortOrder = ViewBag.NameSortParm }, htmlAttributes: new { @class = "btn btn-primary smalleButton sort" })
    @Html.ActionLink("Op Datum", "Bands", new { sortOrder = ViewBag.DateSortParm }, htmlAttributes: new { @class = "btn btn-primary smalleButton sort" })
</div>

<h1 class="float-left" id="bandtitel">Bands.</h1>
<ul class="eigenList">

    @foreach(var item in Model.AllBands)
    {
        <li id="BandItem">
            <div id="BandBlock" class="zoom-img">
                <a href="@Url.Action("Details", "Home", new { id = item.Id })">
                    <img id="bandpictureIndex" src="../Assets/@item.Picture" alt="@item.Name" />
                    @*<p>
                            @Html.DisplayFor(modelItem => item.Picture)
                        </p>*@

                    <div id="inschuiven">
                        <p id="BandText">
                            @Html.DisplayFor(modelItem => item.Name)<br />
                            @Model.LineUpRepository.GetLineUpByBand(item)
                        </p>
                    </div>
                </a>
            </div>
        </li>
    }
</ul>

