@model FestivalSite.Models.Band

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<fieldset class="BodyText">
    <legend>Band</legend>

    <div class="display-field float-left">
        <img id="bandpicture" src="../@Model.Picture" alt="@Model.Name" />
        @*@Html.DisplayFor(model => model.Picture)*@
    </div>
    <div class="display-field float-left" id="description">
        @Html.DisplayFor(model => model.Description)
        <h6>Genres:</h6>
        <ul>
            @foreach (var item in Model.Genres)
            {
                <li>@item</li>
            }
        </ul>
    </div>
    <div class="display-field">
        <a href="@Model.Twitter">
            <img id="twitter" src="/Images/twitter.png" alt="@Model.Name" />
        </a>
        @*@Html.DisplayFor(model => model.Twitter)*@
    </div>
    <div class="display-field">
        <a href="@Model.Facebook">
            <img id="facebook" src="/Images/facebook.png" alt="@Model.Name" />
        </a>
        @*@Html.DisplayFor(model => model.Facebook)*@
    </div>
</fieldset>

<div id="AllNews">
    <h6 class="BodyText">Laatste nieuws van @Model.Name:</h6>
    @*<div id="BandNews">
            <h5 id="BandNewsTitle"></h5>
            <p id="BandNewsSummary"></p>
            <p id="BandNewsSource"></p>
        </div>*@

</div>
<div id="Video">
</div>

<p>
    @Html.ActionLink("Terug", "Bands", "Home", new { @class = "btn btn-primary btn-wide" })
</p>
@Scripts.Render("~/bundles/jquery")
<script>
    //API
    //KEY: E9I3GSCJC84HA6UPA

    var url = "http://developer.echonest.com/api/v4/artist/news?api_key=E9I3GSCJC84HA6UPA&name=@Model.Name&format=json&results=2&start=0&high_relevance=true";

    //console.log(url);


    //NIEUWS
    $.getJSON(url, function (data)
    {
        for (var i = 0; i < data.response.news.length; i++) {
            var name = data.response.news[i].name;
            var bron = data.response.news[i].url;
            var date = data.response.news[i].date_found;
            var summary = data.response.news[i].summary;

            //console.log(name);

            $('#AllNews').append('<div id="BandNews"><h5 id="BandNewsTitle">' + name + '</h5><p id="BandNewsSummary">' + summary + '</p><p id="BandNewsSource">' + date + ', <a href="' + bron + '">Bron</a></p></div>');
        }
    });

    //VIDEO
    var YTurl = "http://developer.echonest.com/api/v4/artist/video?api_key=E9I3GSCJC84HA6UPA&name=@Model.Name&format=json&results=1&start=0";

    $.getJSON(YTurl, function (data)
    {
        var site = data.response.video[0].site;
        if (site == "youtube.com") {
            var film_url = data.response.video[0].url;

            film_url = film_url.replace("http://", "//");
            film_url = film_url.replace("watch?v=", "embed/");
            film_url = film_url.replace("&feature=youtube_gdata_player", "?autoplay=true");
        }
        if (site == "vimeo.com") {
            var film_url = data.response.video[0].url;
        }

        if (site == "dailymotion.com") {
            var film_url = data.response.video[0].url;
            film_url = film_url.replace("/video", "/embed/video/")
        }

        //console.log(film_url);


        if (site == "youtube.com") {
            $('#Video').append('<iframe class="yt" width="540" height="296" src="' + film_url + '" frameborder="0" allowfullscreen></iframe>');
        }
        if (site == "vimeo.com") {
            $('#Video').append('<iframe class="yt" src="' + film_url + '" width="540" height="296" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>');
        }

        if (site == "dailymotion.com") {
            $('#Video').append('<iframe class="yt" src="' + film_url + '" width="540" height="296" frameborder="0"></iframe>');
        }
    });
    </script>