@model FestivalSite.ViewModel.HomeVM

@{
    ViewBag.Title = "Home";
}

<a href="@Url.Action("RSS", "API")">
    <img id="rss" src="/Images/rss.png" alt="rss" />
</a>

<h4>Laatste Nieuws</h4>

@foreach (var item in Model.AllNews)
{

    <div id="nieuwsItem">
        <h5>@Html.DisplayFor(modelItem => item.Title)</h5>
        <p>@Html.DisplayFor(modelItem => item.Content)</p>
        <p>@Html.DisplayFor(modelItem => item.Date), @Html.DisplayFor(modelItem => item.Author)</p>
    </div>
}

    <a class="twitter-timeline" href="https://twitter.com/FestivalManage" data-widget-id="412240082557341696">Tweets van FestivalManager</a>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

@Scripts.Render("~/bundles/jquery")
<script>

</script>
