@model FestivalSite.ViewModel.HomeVM

@{
    ViewBag.Title = "Home";
}

<a href="@Url.Action("RSS", "API")">
    <img id="rss" src="/Images/rss.png" alt="rss" />
</a>

<h4>Laatste Nieuws</h4>


@foreach (var item in Model.AllNews)
{

    <div id="nieuwsItem">
        <h5>@Html.DisplayFor(modelItem => item.Title)</h5>
        <p>@Html.DisplayFor(modelItem => item.Content)</p>
        <p>@Html.DisplayFor(modelItem => item.Date), @Html.DisplayFor(modelItem => item.Author)</p>
    </div>
}

@Scripts.Render("~/bundles/jquery")
<script>

</script>
